<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.schnatterer.logbackandroiddemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".LogbackAndroidDemo">
        <activity
            android:name="info.schnatterer.logbackandroiddemo.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PreferencesDeveloperActivity"/>
        <activity android:name=".OpenLogActivity"/>
        <activity android:name=".SendLogActivity"/>

        <!-- Expose log files for editors/email clients -->
        <provider android:authorities="@string/authority_log_file_provider" android:exported="false" android:grantUriPermissions="true" android:name="android.support.v4.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/logpath"/>
        </provider>
    </application>

</manifest>
